.App {
  background: #F2F2F2;
}

.wrapper {
  margin: auto;
  width: 1144px;
}

.editor-wrapper {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 1px 7px 15px rgba(0, 0, 0, .075);
  margin-top: 20px;
  padding: 10px 20px;
}
